body {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    overflow: hidden;
    border-style:solid;
    border-width: 1px;
    border-color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    z-index: 9999;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
}
.navbar-header {
    float: left;
    padding-left: 40px;
}

.navbar-nav {
    float: none;
    position: absolute;
    left: 42%;
}


.nav-link {
    padding: 14px 16px;
    display: inline-block;
}


.navbar-right {
    float: right;
    padding-right: 40px;
}

li a {
    display: block;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    font-family: 'Source Serif Pro', 'Noto Serif', serif;
    font-weight: 600;
  }

.hero {
    padding: 30px 0;
}


.hero-image {
    margin: auto;
    padding-left: 120px;
}

.hero-description {
    position: relative;
    bottom: 500px;
    right: -680px;
    height: 100px;
    width: 400px;
}

h1 {
    font-family: 'Source Serif Pro', 'Noto Serif', serif;
    font-size: 43px;
    font-weight: 600;
    color: #21242c;
    line-height: 60px;
    margin-bottom: 0px;
}

h4 {
    font-family: 'Noto Serif';
    font-weight: 100;
}

button {
    background-color: #1865F2;
    color: white;
    border: solid;
    border-radius: 8px;
    padding: 15px 20px;
    font-weight: 300;
}

p .buttons {
    width: 300px;
}

h2 {
    font-family: 'Source Serif Pro', 'Noto Serif', serif;
    font-size: 32px;
    font-weight: 600;
    color: #21242c;
    line-height: 60px;
    margin-bottom: 0px;
    text-align: center;
}